<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BancAndes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="container mx-auto w-25">
        <h1>BancAndes</h1>
        <img th:src="@{/images/logo.png}" width="250"/>
        <div>
            <a th:href="@{/Cliente}" class="btn btn-primary">Cliente</a>
            <a th:href="@{/Empleado}" class="btn btn-primary">Empleado</a>
            <a th:href="@{/ClienteEmpleado}" class="btn btn-primary">ClienteEmpleado</a>
            <a th:href="@{/Cuenta}" class="btn btn-primary">Cuenta</a>
            <a th:href="@{/Oficina}" class="btn btn-primary">ClienteEOficinampleado</a>
            <a th:href="@{/Operacion}" class="btn btn-primary">ClienteEmOperacionpleado</a>
            <a th:href="@{/OperacionCuenta}" class="btn btn-primary">OperacionCuenta</a>
            <a th:href="@{/OperacionPrestamo}" class="btn btn-primary">OperacionPrestamo</a>
            <a th:href="@{/Prestamo}" class="btn btn-primary">Prestamo</a>
            <a th:href="@{/PuntoDeAtencion}" class="btn btn-primary">PuntoDeAtencion</a>
            <a th:href="@{/Rol}" class="btn btn-primary">Rol</a>
            <a th:href="@{/Usuario}" class="btn btn-primary">Usuario</a>
        </div>
</body>
</html>